/*
filter: alpha(opacity=100);
-moz-opacity: 0.9;
opacity: 0.9;
background: transparent;
*/



/* grundlegende Seiteneinstellungen */

html,body{
  margin:0;
  padding:0;
  border:0;
  height:100%;

}

body {
	font:100% Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFCC;
}

a {
	text-decoration: none;
	font-weight: normal;
	outline: none;
	}
a:visited {
	}
a:active {
	}
a:hover {
	text-decoration: underline;
	color:#EA1BD4;
  }
  
h1,h2,h3 {
	font-family:"Times New Roman", "Trebuchet MS", Georgia, serif;
	font-weight:normal;
	color:#667553;
}
h1 {
	font-size:250%;
}

h2 {
	font-size:200%;
}

h3 {
	font-size:150%;
}
hr {
	margin: 0px; /* fixes xhtml N6 bug where the hr sits to the left*/
	color: #ccc; /* for ie */
	background-color: #ccc; /* for everyone else */
	height: 1px;
	}
hr {
	margin-top: 2.0em;
	margin-bottom: 2.0em;
	}

.bigger-font
{
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:1.4em;
}
.big-font
{
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:1.2em;
}
.normal-font
{
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:1em;
}
.small-font
{
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:0.8em;
}
.smaller-font
{
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:0.6em;
}

.align-left
{
text-align:left;
}
.align-center
{
text-align:center;
}
.align-right
{
text-align:right;
}

/* Hintergrund und Opacity <body class="theme-overlay"> */
.background-image
{
background-image:url(images/duorama_overlay.png);
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
scrollbar-base-color:#D9E6FF;
scrollbar-3d-light-color:#FFFFFF;
scrollbar-arrow-color:#FFFFFF;
scrollbar-darkshadow-color:#000000;
scrollbar-face-color:#D9E6FF;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#000000;
scrollbar-track-color:#D9E6FF;
overflow:scroll;
vertical-align: text-top;
}

/* Buttons */
.duorama-button
{
position:relative;top:0em;left:0em;
background-color:#D9E6FF;
height:20px;
border:1px solid #EA1BD4;border-radius-topleft: 8px;border-radius-topright: 8px;border-radius-bottomright: 8px;
font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:0.8em;
text-align: center; vertical-align: text-top;
vertical-align: middle;
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
padding-left:2px;
padding-right:2px;
line-height:1;
}
.duorama-button:hover
{
 background-color:#D9E6FF;
 border:1px solid #1C78EB;-moz-border-radius-topleft: 8px;border-radius-topright: 0px;border-radius-bottomleft: 8px;border-radius-bottomright: 8px;
 font-family:arial,sans-serif; color:#EA1BD4; text-decoration:none; font-size:0.8em;
}

.duorama-button:active
{
 background-color:#D9E6FF;
 border:1px solid #EA1BD4;border-radius: 8px;
 font-family:arial,sans-serif; color:#000000; text-decoration:none; font-size:0.8em;
}


/* Inputs */
.duorama-input
{
position:relative;bottom:0em;right:0em;
background-color:#D9E6FF;
height:20px;
border:1px solid #EA1BD4;border-radius-topleft: 8px;border-radius-topright: 8px;border-radius-bottomleft: 8px;
font-family:arial,sans-serif; color:#646464; text-decoration:none; font-size:0.8em;
text-align:left;
vertical-align: middle;
margin-top:0px;
margin:0px;
padding-left:5px;
padding-right:5px;
line-height:1;
}

.duorama-header
{
position:absolute;left:0em;top:0em;
width:98%;
height:118px;
border:1px solid #EA1BD4;border-radius-bottomleft: 8px;
background-color:#EDCFE1;
margin-left:1%;
padding:0;
text-align: center;
vertical-align:top;
}

/* Das wird gebraucht um das Fenster in "MainWindow" und die "Sitebar" aufzuteilen */
.adjust-table
{
position:absolute;left:0em;top:8em;
width:98%;
margin-left:1%;
padding:0;
text-align: left;
vertical-align:top;
}
/* <tr><td class="adjust-table-cell1"> */
.adjust-table-cell1
{
position:relative;left:0em;top:0em;
width:69%;
height:600px;
border:0px;
margin:0px;
padding:0px;
vertical-align:top;

}

/* Main window contnt <span class="main-window-content"></span>*/
.main-window-content
{
position:relative;left:0em;bottom:0em;
display:block;
border:1px solid #EA1BD4;border-radius-topleft: 8px; border-radius-topright: 8px;border-radius-bottomright: 8px;
margin-top:0px;
margin-left:0px;
margin-right:10px;
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
background-color:#EDCFE1;
vertical-align:top;
}
.main-window-content-table
{
position:relative;left:0em;bottom:0em;
display:block;
border:0px solid #EA1BD4;-moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px;
margin:px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
background-color:#EDCFE1;
vertical-align:top;
}
.main-window-content-title
{
position:relative;right:0em;top:0em;
width:15px;
height:100%;
border:0px;
margin:0px;
padding:0px;
  display:block-inline;
}
.main-window-content-vertical-title
{
  position:relative;right:0em;top:0em;-moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px;
  background-color:#D9E6FF;
  width:15px;
  height:100%;
  padding:0;
  display:block;
  margin:0px;
  list-style-type:none;
  font-family:arial,sans-serif; color: #000000;text-align:center; text-decoration:none;font-size:0.8em; font-weight: bold;
}
/* <tr><td class="adjust-table-cell2"> */
.adjust-table-cell2
{
position:relative;left:0em;top:0em;
width:29%;
height:600px;
border:0px;
margin:0px;
padding:0px;
vertical-align:top;
}

/* Side window contnt <span class="side-window-content"></span>*/
.side-window-content
{
position:relative;left:0em;top:0em;
border:0px;
height:100%;
margin-top:0px;
padding-left:10px;
border:0px;
vertical-align:top;
}

/* Flying Module table <table class="flying-module-table"> */
.flying-module-table
{
position:relative;right:0em;bottom:0em;
display:block;
border:1px solid #EA1BD4;border-radius-topleft: 8px;border-radius-bottomleft: 8px;
margin:0px;
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
background-color:#EDCFE1;
vertical-align:top;
overflow:no;
}

/* Flying Module title <tr><td class="flying-module-title"> */
.flying-module-table-title
{
position:relative;right:0em;top:0em;
width:10px;
height:100%;
border:0px;
margin:0px;
padding:0px;
display:block;
}

/* Flying Module vertical title <span class="flying-module-vertical-title"> */
.flying-module-vertical-title
{
  position:relative;left:0em;top:0em;border-radius-topleft: 8px;border-radius-bottomleft: 8px;
  background-color:#D9E6FF;
  width:10px;
  height:100%;
  padding:0;
  display:block;
  margin:0px;
  list-style-type:none;
  font-family:arial,sans-serif; color: #000000;text-align:center; text-decoration:none;font-size:0.8em; font-weight: bold;
}

/* Flying Module table content </td><td class="flying-module-table-content"> */
.flying-module-table-content
{
position:relative;right:0em;top:0em;
width:100%;
height:100%;
border:0px;
margin:0px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
display:block-inline;
vertical-align:top;

}

.Test2-div
{
position:relative;right:0em;top:0em;
border:0px;
padding-top:0px;
padding-bottom:10px;
padding-left:0px;
padding-right:0px;
margin:0px;
display:block;
}

.Test-div
{
position:relative;right:0em;top:0em;
border:0px;
padding-top:0px;
padding-bottom:10px;
padding-left:0px;
padding-right:0px;
margin:0px;
display:block;
}

/* Single Suche */
.singlesuche-div
{
position:relative;right:0em;top:0em;
border:0px;
padding-top:0px;
padding-bottom:10px;
padding-left:0px;
padding-right:0px;
margin:0px;
display:block;
}

.singlesuche-detail-text a:link, .singlesuche-detail-text a:visited, .singlesuche-detail-text a:active
{
position:relative;left:0px;top:1.0em;
margin-top:0px; margin-left:0px;
padding:0px;
text-align:center;
display:block;
font-family:arial,sans-serif; color:#990066; text-decoration:none; font-size:0.8em;
}

.singlesuche-detail-text a:hover, .singlesuche-detail-text a:focus
{
position:relative;left:0px;top:1.0em;
margin-top:0px; margin-left:0px;padding:0px;
font-family:arial,sans-serif; color:#EA1BD4; text-decoration:none; font-size:0.8em;text-align:center;
}


/* Login Area */
.loginform-div
{
position:absolute;right:2em;top:5.0em;
background: transparent;
height:20px;
border:0px;
margin-top:0px;
padding:0px;
}

/* Duorama Logo */
.duorama-logo, .duorama-logo:link, .duorama-logo:visited
{
position:absolute;left:1.5em;top:0.2em;
background-image:url(images/duorama_logo_normal.png);
width:290px; height:88px;
display:block;
border-width=0px; border-style:none;
}
.duorama-logo:hover, .duorama-logo:focus
{
background-image:url(images/duorama_logo_over.png);
}
.duorama-logo:active
{
background-image:url(images/duorama_logo_down.png);
}

/* Navigation */
.navigation-div
{
position:absolute;left:2em;top:6.15em;
width:90%; height:20px;
border-width=0px; border-style:none;
margin:auto;
padding:0px;
}
.navigation-entries a:link, .navigation-entries a:visited, .navigation-entries a:active
{
position:relative;top:0em;
background-image:url(images/duorama_navi.png);
font-family:arial,sans-serif; color: #000000; text-decoration: none; font-size:1em;
border:0px solid #EA1BD4;
padding-left:6px; padding-right:0px;
}
.navigation-entries a:hover, .navigation-entries a:focus
{
position:relative;top:0em;
background-image:url(images/duorama_navi.png);
font-family:arial,sans-serif; color: #EA1BD4; text-decoration: none; font-size:1em;
border:0px solid #EA1BD4;
padding-left:6px; padding-right:0px;
}

/* Register Button */
.register-button, .register-button:link, .register-button:visited
{
position:absolute;right:1.8em;top:1.3em;
background-image:url(images/duorama_register_normal.png);
width:160px; height:50px;
display:block;
border-width=0px; border-style:none;
}
.register-button:hover, .register-button:focus
{
background-image:url(images/duorama_register_over.png);
}
.register-button:active
{
background-image:url(images/duorama_register_down.png);
}
/* Registred User */
.registered-user
{
position:absolute;right:1.8em;top:1.3em;
width:160px; height:50px;
display:block;
border-width=0px; border-style:none;
}

