body {
	font-family: sans-serif;
	background-color: #f3f5fe;
}

.cmenu {
	margin: 0;
	padding: 0.3em;
	list-style-type: none;
	background-color: #eee;
}

.cmenu li:hover {
	
}

.cmenu hr {
	border: 0;
	border-bottom: 1px solid grey;
	margin: 1px 0px 1px 0px;
	width: 10em;
}

.cmenu a {
	text-decoration: none;
	color : #000;		
}

ul {
	list-style-type: none;
}

li.delete {
	background-image: url(../images/delete.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	font-size: 9pt; 
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.divContext { 
}

.cmenu a:hover {
	text-decoration: none;
	background-color: #444;
	color: #fff;	
}

.cmenu .topSep {
	font-size: 90%;
	border-top: 1px solid gray;
	margin-top: 0.3em;
	padding-top: 0.3em;
}

.content {
	background-color: #efefef;
	vertical-align: middle;	
	position: absolute;
	left: 50%;
	top: 50px;
	width: 890px;
	height : 745px;
	margin-left: -450px;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');	
	
}

.header {
	font-weight: bold;
	text-align: center;
}

#faqDiv {
	background-color : white;
	border : 1px solid #000;	
	z-index: 3;		
	position : absolute;
	width: 400px;
	height: 400px; 
	left:50%;
	margin-left:-200px;				
	top:50%;
	margin-top:-225px;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');		
}

#messageDiv {
	background-color : white;
	border : 1px solid #000;	
	z-index: 3;		
	position : absolute;
	width: 400px;
	height: 200px; 
	left:50%;
	margin-left:-200px;				
	top:50%;
	margin-top:-100px;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');		
}


#faqDetails {
	background-color : #ddd;
	width : 100%;
		
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');		
	
}

.dialogTitle {
	background-image: url(../images/clock.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color : #ccc;
	border-bottom : 1px solid #000;	
	color:#000;
	padding-left : 35px;
	padding-top:8px;
	padding-bottom: 8px;
}

.dialogSubtitle {
	padding-top: 5px;
	padding-left : 35px;
	font-size: 9pt;
	text-align: left;
}

.dialogTitleFaq{
	background-image: url(../images/clock.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color : #ccc;
	border-bottom : 1px solid #000;	
	color:#000;
	padding-left : 30px;
	padding-top:8px;
	padding-bottom: 10px;
	width: 370px;
}

.dialogSubtitleFaq {
	padding-top: 10px;
	padding-left : 25px;
	font-size: 9pt;
	text-align: left;
}


#messageTitle {
	background-image: url(../images/clock.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color : #ccc;
	border-bottom : 1px solid #000;	
	color:#000;
	padding-left : 35px;
	padding-top:8px;
	padding-bottom: 8px;
}

#messageSubTitle {
	padding-top: 5px;
	padding-left : 35px;
	font-size: 9pt;
	text-align: left;
}

tr.odd {
	background-color: #ddd;
}

tr.faqTitle {
	font-weight : bold;
	border : 1px solid #000000;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #DDDDDD;
}	

#faqForm {
	padding: 10px;
}

#faqs {

}